<div class="app">
    <div class="sidebar">
        <div class="title">
            <a href="http://monospad.com">monospad</a>
        </div>
        <div id="notes" class="notes">
            <div class="warn" ng-show="!loggedin && current.Content.length > 10">
                <a href ng-click="authMode=1">sign up to save your notes</a>
            </div>
            <div class="search-box" ng-show="notes.length > 5">
                <input type="text" placeholder="search by title" class="search" maxlength="50" ng-model="searchKey" />
            </div>
            <div class="note" ng-repeat="note in notes | filter: {Title:searchKey}" ng-class="{'selected':note.selected}">
                <a href class="info" ng-click="loadNote(note)">
                    <span class="title">{{note.Title || '[empty]'}}</span>
                    <span class="summary">{{note.Summary}}</span>
                </a>
                <div class="footer clearfix">
                    <span class="saving" ng-if="note.saving">
                        saving...
                    </span>
                    <a href class="delete" ng-click="deleteNote(note)">delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="menu">
            <div class="right">
                <span ng-show="loggedin" >
                    <a href ng-click="newNote()">new</a>
                    |
                    <a href ng-click="signout()">sign out</a>
                </span>
                <a href ng-hide="loggedin" ng-click="authMode=1">sign up</a>
            </div>
        </div>
        <div class="editor">
            <textarea id="editor" ng-model="current.Content"
                      placeholder="write your note here. first 40 characters of first line is going to be the title."></textarea>
        </div>
    </div>
    <div class="authDialog" ng-esc="authMode=0" ng-show="authMode > 0">
        <div class="auth-form">
            <a href class="close" ng-click="authMode=0">x</a>
            <div class="clearfix"></div>
            <div class="buttons">
                <a href ng-click="authMode=1" ng-class="{'active':authMode==1}">sign up</a>
                |
                <a href ng-click="authMode=2" ng-class="{'active':authMode==2}">log in</a>
                |
                <a href ng-click="authMode=3" ng-class="{'active':authMode==3}">forgot password</a>
            </div>
            <input type="email" placeholder="email" ng-enter="auth()" maxlength="100" ng-model="signinInfo.Email"/>
            <input type="password" placeholder="password" ng-enter="auth()" maxlength="20" ng-hide="authMode==3" ng-model="signinInfo.Password"/>
            <a href ng-click="auth()">submit</a>
        </div>
    </div>
    <div ng-show="blocker.block" class="block"></div>
</div>