*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "Consolas", "Courier New";
    font-weight: 400;
    font-size: 1em;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #333;
}

.app {
    min-width: 500px;
    height: 100%;
}

.sidebar {
    width: 25%;
    max-width: 400px;
    height: 100%;
    float: left;
    border: solid 1px;
}

    .sidebar > .title {
        padding: 5px;
        height: 40px;
        font: inherit;
        text-align: center;
        font-size: 1.5em;
        border-bottom: solid 1px;
    }

.content {
    width: auto;
    height: 100%;
    overflow: hidden;
    border: solid 1px;
    border-left: none;
}

    .content .menu {
        height: 40px;
        border-bottom: solid 1px;
    }
    
        .content .menu .right {
            display: inline-block;
            width: 200px;
            padding: 10px;
            float: right;
            text-align: right;
        }

.search {
    padding: 5px;
    height: 38px;
    border: none;
    width: 100%;
    font-size: 1.2em;
}

.content .editor {
    height: 100%;
    max-height: 100%;
}

#editor {
    width: 100%;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    resize: none;
    border: none;
    font: inherit;
    padding: 5px;
    font-size: 1em;
}

.notes {
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.warn {
    text-align: center;
    font-size: 1.3em;
    padding: 30px;
}

.note {
    border: solid 1px #ddd;
    margin: 3px;
}
.note.selected {
    border: solid 1px #555;
}

    .note > .info {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: 100px;
        padding: 3px;
    }

        .note > .info > .title {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 600;
        }

        .note > .info > .summary {
        }

    .note > .footer {
        padding: 3px;
    }

        .note > .footer > .saving {
        }

        .note > .footer > .delete {
            float: right;
        }

.authDialog {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
}

.authDialog .close {
    float: right;
    margin-top: -15px;
    margin-right: -10px;
}

.auth-form {
    z-index: 101;
    display: inline-block;
    width: 400px;
    height: 175px;
    margin-top: 250px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

    .auth-form > input {
        width: 100%;
        margin-bottom: 10px;
        border: solid 1px #ddd;
        border-radius: 3px;
        padding: 5px;
    }

    .auth-form > .buttons {
        margin-bottom: 10px;
    }

        .auth-form > .buttons > .active {
            text-decoration: underline;
            font-size: 1.1em;
            font-weight: 600;
        }

.block {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}
