<div class="app">
    <div class="header">
        <div class="hide-mobile">
            <div class="title">
                <a href="https://monospad.com">monospad.com</a>
            </div>

            <div class="search-box">
                <input class="search" type="text" placeholder="search title" ng-model="searchKey" />
            </div>

            <div class="menu">
                <div class="left">
                    <a class="btn btn-header" ng-click="newNote()" ng-show="loggedin">new</a>
                </div>
                <div class="right clearfix">
                    <span ng-show="loggedin">
                        <a class="btn btn-header" ng-click="showChangePassword=true">change password</a>
                        <span class="btn-header">|</span>
                        <a class="btn btn-header" ng-click="signout()">sign out</a>
                    </span>
                    <a class="btn btn-header" ng-hide="loggedin" ng-click="authMode=1">sign up</a>
                </div>
            </div>
        </div>
        <div class="show-mobile">
            <div class="left">
                <div class="content-back">
                    <a class="btn btn-header" ng-show="showContentPanel" ng-click="backToList()">&lt; list</a>
                    <a class="btn btn-header" ng-show="!showContentPanel && loggedin" ng-click="signout()">sign out</a>
                </div>
            </div>
            <div class="center">
                monospad
            </div>
            <div class="right">
                <a class="btn btn-header" ng-hide="loggedin" ng-click="authMode=1">sign up</a>
                <a class="btn btn-header" ng-click="newNote()" ng-show="loggedin">new +</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-inner" ng-class="{'content-open':showContentPanel}">
            <div id="noteList" class="content-list">
                <div class="no-notes" ng-hide="notes.length">
                    no notes
                    <br /><br /><br />
                    <a ng-click="authMode=1" ng-show="!loggedin && current.Content.length > 10">sign up to save your notes</a>
                </div>
                <div class="show-mobile" ng-show="notes.length && loggedin">
                    <input class="mobile-search" type="text" placeholder="search title" ng-model="searchKey" />
                </div>
                <div class="note" ng-repeat="note in notes | filter: {Title:searchKey}" ng-class="{'selected':note.selected}">
                    <div class="note-info" ng-click="loadNote(note)">
                        <span class="note-title" ng-bind="note.Title || '[empty]'"></span>
                        <div class="note-summary" ng-bind="note.Summary"></div>
                        <div class="note-footer">
                            <span ng-show="note.AccessToken">
                                <a class="btn" ng-click="shareNote(note); $event.stopPropagation();">share</a>
                                |
                            </span>
                            <a class="btn" ng-click="deleteNote(note); $event.stopPropagation();">delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-editor">
                <div class="saved" ng-class="{'visible':current.saved}">saved</div>
                <textarea placeholder="write your note here. first 40 characters of first line will be the title." id="editor" ng-model="current.Content"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="authDialog" ng-esc="authMode=0" ng-show="authMode > 0">
    <div class="auth-form">
        <a class="close" ng-click="authMode=0">x</a>
        <div class="clearfix"></div>
        <div class="buttons">
            <a ng-click="authMode=1" ng-class="{'active':authMode==1}">sign up</a>
            |
            <a ng-click="authMode=2" ng-class="{'active':authMode==2}">log in</a>
            |
            <a ng-click="authMode=3" ng-class="{'active':authMode==3}">forgot password</a>
        </div>
        <input type="email" placeholder="email" ng-enter="auth()" maxlength="100" ng-model="signinInfo.Email" />
        <input type="password" placeholder="password" ng-enter="auth()" maxlength="20" ng-hide="authMode==3" ng-model="signinInfo.Password" />
        <a ng-click="auth()">submit</a>
    </div>
</div>
<div class="authDialog" ng-esc="showChangePassword=false" ng-show="showChangePassword">
    <div class="auth-form">
        <a class="close" ng-click="showChangePassword=false">x</a>
        change password
        <br>
        <br>
        <input type="password" ng-model="newPassword" ng-enter="changePassword()" placeholder="new password" />
        <br>
        <br>
        <a ng-click="changePassword()">submit</a>
    </div>
</div>
<div id="blocker" ng-show="blocker.block"></div>